#nav {
    justify-content:  center;
    text-align: center;
    color:white;
}
#city-search{
    width:60px;
}
label {
    margin-right: 15px;
}
#city-search {
    width:90px;
}
#five-day-wrapper{
    display:flex;
}
.forecastdiv {
    margin:5px;
    background-color: blue;
    color:white;
    height:max-content;
}
.low{
    background-color: green;
    color:white;
}
.high{
    background-color:orange;
    color:white;
}
.extreme{
    background-color: red;
    color:white;
}
#forecastlabel {
    width: 100%;
}